<% @contestants.each do |contestant| %>
  <h2><%= contestant.name %></h2>
  <h3>Projects:</h3>
  <ul>
    <% contestant.projects.each do |project| %>
      <li><%= project.name %></li>
    <% end %>
  </ul>
<% end %>