<h1> Contestants </h1>
<% @contestants.each do |contestant| %>
  <p><%= contestant.name %></p>
  <% contestant.contestant_projects.each do |project| %>
    <p><%= project.project.name %></p>
    <% end %>
  <% end %>