<% @contestants.each do |contestant| %>
<h3>Contestant</h3>
  <p><%= contestant.name %></p>
<h4>Project/s</h4>
  <% contestant.projects.each do |project| %>
    <p><%= project.name %></p>

  <% end %>
<% end %>
 <br>
