<h1>Projects</h1>
<ul>
  <% @projects.each do |project| %>
    <p>Project Name: <a href="<%= project_path(project) %>"><%= project.name %></a></h3>
    <p>Material: <%= project.material %></p>
    <br>
  <% end %>
</ul>
