<H1>Project Details</H1>
<p>Name: <%= @project.name %></p>
<p>Material: <%= @project.material %></p>
<p>Material: <%= @challenge.theme %></p>
<p>Number of Contestants: <%= @project.contestant_count %></p>


