<h1>Projects</h1>

<% @project.each do |project| %>
  <p>Name: <%= project.name %></p>
  <p>Material: <%= project.material %></p>
  <p>Challenge Theme: <%= project.challenge.theme %></p>
  <p>Number of Contestants: <%= project.project_count %>
  <p><br>
<% end %>

