<h1>Projects Show Page</h1><hr>

<h2>Project Name: <%= @project.name %></h4>
<h3>Project Material: <%= @project.material %></h4>
<h3>Challenge Theme: <%= @project.challenge.theme %></h4><br>
<h4>Contestants Count: <%= @project.contestant_count %></h4>
