<h3>Project Name:</h3>
<p><%= @project.name %></p>

<h3>Material:</h3>
<p><%= @project.material %></p>

<h3>Challenge Theme:</h3>
<p><%= @project.challenge.theme %></p>

<h3>Contestant Count:</h3>
<p><%= @project.contestant_count %></p>



